<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>Title</title>
</head>
<body>
 <form action="/doctor_edit" method="post">

    <div class="container">
        <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Name" name="uname" >

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" >

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" >

        <label for="gender"><b>gender</b></label>
        <input type="text" placeholder="" name="gender" />

        <label for="specialist"><b>specialist</b></label>
        <input type="text" placeholder="specialist" name="specialist" class="specialist"   />

        <label for="address"><b> address</b></label>
        <input type="text" placeholder="address" name="address" class="address" />
        <input type="hidden" name="em" value="{{em }}">
        <button type="submit">Submit</button>


    </div>

  </form>
</body>
</html>