<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">

    <title>{{ title }}</title>
</head>
<body>

<div class="topnav">

    <a href="about"><button>About</button></a>


    <a href="user_login"><button onclick="document.getElementById('id01').style.display='block'">User</button></a>

    <a href="doctor_login"><button onclick="document.getElementById('id02').style.display='block'">Doctor</button></a>

    <a  href="/home"><button class="active">Home</button></a>

</div>


<div class="slideshow-container">

<div class="mySlides fade">

  <img src="{{url_for('static', filename='e.png')}}" align="middle" />

</div>

<div class="mySlides fade">

  <img src="{{url_for('static', filename='y.jpg')}}" align="middle" />
</div>

<div class="mySlides fade">

  <img src="{{url_for('static', filename='c1.jpg')}}" align="middle" />
</div>

<div class="mySlides fade">

  <img src="{{url_for('static', filename='z1.jpg')}}" align="middle" />
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
<script src="{{url_for('static', filename='login.js')}}"></script>

<script src="{{url_for('static', filename='main.js')}}"></script>

</div>
</body>

</html>